/*global overwrite*/
.h1,h1 {
    font-size: 3.5rem;
}
.h2,h2 {
    font-size: 2.2rem;
}
a {
	color: #fff;
}
a:hover {
	color: #5533ff;
}
/*header*/
.header-main-section {
	width: 100%;
	background-color: #000;
	padding: 20px 0;
}
.header .logo img {
	float: left;
}
.header .logo {
	padding-right: 15px;
}
.header-main-section .header-main-section-left-part {
	max-width: 340px;
	width: auto;
}
.header-main-section .header-main-section-left-part, .header-secondary-section .header-secondary-section-left-part {
	float: left;
}
.header-main-section .header-main-section-right-part, .header-secondary-section .header-secondary-section-right-part {
	float: right;
}
.header-secondary-section-left-part, .header-secondary-section-right-part {
    width: 100%;
    float: none;
}
.header-main-section .header-main-section-left-part, .header-main-section .header-main-section-right-part, .header-secondary-section .header-secondary-section-left-part, .header-secondary-section .header-secondary-section-right-part {
    text-align: center;
}
.header-secondary-section {
	width: 100%;
	background-color: #acacac;
	padding: 20px 0;
}
.header-type-template4 .header-secondary-section {
	display: none;
}
.header-type-template5 .header-secondary-section-right-part {
    width: 100%;
}
.header-type-template5 .header-secondary-section .header-secondary-section-right-part .contact-info-wrapper, .header-type-template3 .header-secondary-section-right-part .social-media-list-wrapper {
	display: inline-block;
}
.header-type-template5 .header-secondary-section .inner-section-container, .header-type-template6 .header-secondary-section .inner-section-container {
	display: flex;
    align-items: center;
}
/*header nav*/
.header li.menu-item {
    padding-left: 10px;
    padding-right: 10px;
}
.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item.menu-item-has-children>a:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.header .open>.dropdown-menu{
	margin-top: initial;
	display: block;
	position: absolute;
	width: 90%;
	left: 5%;
}
.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu {
	position: relative;
	left: 10%;
}
.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu .dropdown-item {
	white-space: normal;
	width: 100%;
}
.navbar-nav>.menu-item>.nav-link {
	border-bottom: 1px solid grey;
}
.navbar-nav>.menu-item:last-child>.nav-link {
	border-bottom: none;
}
/*contact-info-list*/
.contact-info-wrapper .contact-detail {
	color: #fff;
	text-decoration: none;
}
.contact-info-wrapper .phone-number:hover, .contact-info-wrapper .email-address:hover {
	color: #5533ff;
}
.contact-info-wrapper .contact-detail.fa:before {
	margin-right: 5px;
}
.contact-info-wrapper .contact-detail {
	margin-right: 10px;
}
.contact-info-wrapper {
    text-align: center;
}
.header-type-template5 .contact-info-wrapper, .header-type-template6 .contact-info-wrapper {
    text-align: right;
}
.header-type-template5 .contact-info-wrapper .contact-detail, .header-type-template6 .contact-info-wrapper .contact-detail {
	margin-right: 0;
}
/*social*/
.social-media-list-wrapper .fa {
	padding: 5px 0;
    width: 27px;
    border-radius: 50%;
    text-decoration: none;
    margin: 0px 2px;
    text-align: center;
    background-color: #204066;
    color: #fff;
    font-size: 14px;
}
.social-media-list-wrapper .fa:hover {
	background: #000000;
}
.header-type-template6 .social-media-list-wrapper {
	text-align: right;
}
/*header cta*/
.cta-wrapper {
	margin-bottom: 5px;
}
.cta-wrapper .call-to-action-button {
	display: inline-block;
    padding: 1px 10px;
    color: #5533ff;
}
.cta-wrapper .call-to-action-button.call-to-action-button-link {
	text-decoration: none;
	border: 1px solid #5533ff;
}
.cta-wrapper .call-to-action-button:not(:last-child) {
	margin-right: 10px;
}
/*breadcrumb*/
.header #breadcrumbs a {
    text-decoration: none;
}
.header #breadcrumbs .sep {
    padding-left: 8px;
    padding-right: 8px;
}
/*banner*/
.header-banner {
	color: #fff;
}
.header-banner {
	background-color: orange;
}
.header-banner .inner-section-container {
	align-items: center;
	min-height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-banner {
	background-image: url("../images/header-bg-image-default.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
@media (min-width: 576px) {
	.header .logo {
		min-width: 220px;
	}
}
@media (min-width: 768px) {
	.header-main-section .inner-section-container {
	    display: flex;
	    align-items: center;
	}
	.header-secondary-section-left-part, .header-secondary-section-right-part {
		width: auto;
	}
	.header-main-section .inner-section-container .header-main-section-right-part {
		width: 100%;
	}
	.header .navbar {
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: -0.5rem;
	    margin-right: -0.5rem;
	}
	.header-main-section .header-main-section-left-part, .header-secondary-section .header-secondary-section-left-part {
		float: left;
	}
	.header-main-section .header-main-section-right-part, .header-secondary-section .header-secondary-section-right-part {
		float: right;
	}
	.header-main-section .header-main-section-right-part .header-main-section-meta-part, .header-secondary-section .header-secondary-section-right-part {
	    text-align: right;
	}
	/*contact*/
	.contact-info-wrapper .contact-detail:last-child,.social-media-list-wrapper .contact-detail:last-child {
		margin-right: 0;
	}
	.contact-info-wrapper {
		text-align: left;
	}
	/*Nav*/
	.header .open>.dropdown-menu{
		margin-top: initial;
		display: block;
		width: auto;
		position: absolute;
		left: auto;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item {
		position: relative;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu {
		position: absolute;
		left: 100%;
	    top: 0;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu .dropdown-item {
		width: 150px;
	}
	.navbar-nav>.menu-item>.nav-link {
		border: none;
	}
	/*individual template option*/
	.header-type-template4 .header-main-section .navbar-expand-md {
		padding-right: 0;
	}
	.header-type-template4 .contact-info-wrapper,.header-type-template4 .social-media-list-wrapper {
		display: inline-block;
	}
	.header-type-template4 .contact-info-wrapper {
		margin-right: 10px;
	}
	.header-type-template5 .header-main-section  .inner-section-container {
	    display: block;
	}
	.header-type-template5 .header-main-section .inner-section-container .header-main-section-right-part {
		width: auto;
	}
	.header-type-template5 .header-main-section-left-part #main-menu {
		margin-left: 0!important;
	}
	.header-type-template5 .header-main-section-right-part {
		margin: 1rem 0;
	}
	.header-type-template5 .header-main-section-left-part .navbar {
		padding-left: 0;
	}
	.header-type-template5 .contact-info-wrapper .contact-detail:not(:last-child) {
		margin-right: 10px;
	}
	.header-type-template5 .header-secondary-section-right-part .contact-info-wrapper {
		margin-right: 0px;
	}
	.header-type-template6 .header-main-section .inner-section-container {
	    display: block;
	}
	.header-type-template6 .header-secondary-section .inner-section-container {
		display: flex;
		align-items: center;
	}
	.header-type-template6 .header-secondary-section-right-part {
		width: 100%;
	}
	.header-type-template6 .header-secondary-section .social-media-list-wrapper {
		margin-top: 5px;
	}
	 .header-type-template6 .contact-info-wrapper .contact-detail:not(:last-child) {
	 	margin-right: 10px;
	 }
	 .header-type-template6 .header-secondary-section-right-part .contact-info-wrapper {
		margin-right: 0px;
	}
}
@media (min-width: 992px) {
	
}