/*global overwrite*/
.site>.wrapper {
    padding-top: 0;
    padding-bottom: 0;
}
.h1,h1 {
    font-size: 3.5rem;
}
.h2,h2 {
    font-size: 2.2rem;
}
a {
	color: #212529;
}
a:hover {
	color: #5533ff;
	text-decoration: none;
}
[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: initial;
}
.btn-secondary {

}
.btn-secondary:hover {

}
.btn-primary {

}
.btn-primary:hover {

}
/*form*/
::-moz-selection {
  background: #a6a6a6;
  color: #FFFFFF; }

::selection {
  background: #a6a6a6;
  color: #FFFFFF; }

/* INPUT */
input, select, textarea {
    outline: none;
    border: 1px solid #e5e5e5;
    padding: 8px 15px;
    min-height: 35px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #FFFFFF; 
}
select {
  height: 45px; 
}
textarea {
  resize: none; 
}
input[type="radio"], input[type="checkbox"]{
    margin: 0 5px 0 0;
    min-height: 0;
    width: auto;
}
input[type="submit"] {
    background-color: #999999;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    width: 200px;
    float: right;
    margin-bottom: 20px;
}
input[type="submit"].ro-small-size {
    width: auto; 
}
input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #999999;
}
.placeholder {
  color: #222222; }

::-webkit-input-placeholder {
  color: #222222; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #222222; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #222222; }

:-ms-input-placeholder {
  color: #222222; }

/*header*/
.header a {
	color: #fff;
}
.header a:hover {
	color: #5533ff;
}
.header-main-section {
	width: 100%;
	background-color: #000;
	padding: 20px 0;
}
.header .logo img {
	float: left;
}
.header .logo {
	padding-right: 15px;
	max-width: 250px;
}
.header .logo {
	min-width: 200px;
}
.header-main-section .header-main-section-left-part {
	width: auto;
	display: flex;
}
.header-main-section .header-main-section-left-part, .header-secondary-section .header-secondary-section-left-part {
	float: left;
}
.header-type-template1 .header-secondary-section .header-secondary-section-left-part {
	float: none;
}
.header-main-section .header-main-section-right-part {
	float: right;
}
.header-main-section .header-main-section-right-part {
	float: none;
}
.header-type-template4 .header-main-section-right-part {
	float: right;
}
.header-type-template5 .header-main-section .header-main-section-left-part {
	max-width: none;
}
.header-type-template5 .header-main-section-right-part {
	margin-top: 1rem;
	float: right;
}
.header-type-template6 .header-main-section .header-main-section-left-part, .header-type-template5 .header-main-section .header-main-section-left-part {
    width: 100%;
}
.header-type-template1 .header-secondary-section,.header-type-template2 .header-secondary-section,.header-type-template3 .header-secondary-section {
	display: none;
}
.header-secondary-section-left-part, .header-secondary-section-right-part {
    width: 100%;
    float: none;
}
.header-main-section .header-main-section-left-part, .header-main-section .header-main-section-right-part, .header-secondary-section .header-secondary-section-left-part, .header-secondary-section .header-secondary-section-right-part {
    text-align: center;
}
.header-secondary-section {
	width: 100%;
	background-color: #acacac;
	padding: 20px 0;
}
.header-type-template4 .header-main-section-right-part {
	width: 100%;
}
.header-type-template4 .header-secondary-section {
	display: none;
}
.header-type-template5 .header-secondary-section-right-part {
    width: 100%;
}
.header-type-template5 .header-secondary-section .header-secondary-section-right-part .contact-info-wrapper, .header-type-template3 .header-secondary-section-right-part .social-media-list-wrapper {
	display: inline-block;
}
.header-type-template5 .header-secondary-section .inner-section-container, .header-type-template6 .header-secondary-section .inner-section-container {
	display: flex;
    align-items: center;
}
.header .title-wrapper .page-title {
	font-size: 3.5rem;
	line-height: 3.5rem;
}
.header .title-wrapper .page-sub-title {
	font-size: 1.8rem;
	line-height: 1.8rem;
}
.content-wrapper {
	padding-top: 60px;
}
/*header nav*/
.header #wrapper-navbar {
    width: 100%;
}
.header .navbar-dark .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.5);
}
.header .open>.dropdown-menu{
	margin-top: initial;
	display: block;
	position: absolute;
	width: 90%;
	left: 5%;
}
.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu {
	position: relative;
	left: 3rem;
}
.header .dropdown-item {
	white-space: normal;
}
.header .navbar {
	padding-left: 0;
	padding-right: 0;
	display: block;
}
.navbar-toggler {
	margin-left: 0;
    margin-right: auto;
    display: block;
}
.header .navbar-nav>.menu-item {
	border-bottom: 1px solid grey;
}
.header .navbar-nav>.menu-item:last-child>.nav-link {
	border-bottom: none;
}
.header .navbar-nav .menu-item>a {
	width: 80%;
	position: relative;
	white-space: normal;
	text-align: left;
	text-transform: capitalize;
}
.header .navbar-nav .menu-item>a.active, .header .navbar-nav .menu-item>a:active {
	background:  transparent;
}
.header .navbar-nav .nav-link:after {
	display: none;
}
.header .menu-item-has-children>.nav-link-arrow-wrapper {
	display: inline-block;
    margin-left: 0;
    vertical-align: 0.255em;
    content: "";
    position: absolute;
    right: 5%;
    top: 0;
    color: #fff;
    width: 45px;
    height: 100%;
    text-align: center;
}
.header .menu-item-has-children>.nav-link-arrow-wrapper>.nav-link-arrow {
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    top: 18px;
    color: #fff;
    width: 12px;
    height: 6px;
    left: 17px;
    position: absolute;
}
.header .nav-link-arrow-wrapper {
	cursor: pointer;
}
.header .navbar-nav .dropdown-menu {
	position: relative;
}
.header .navbar-nav>.menu-item>.dropdown-menu>.menu-item>.dropdown-menu a {
    left: 0;
    padding-left: 0;
}
.header .dropdown-menu {
	background: transparent;
	border: none;
}
.dropdown-item {
	color: #fff;
}
.page-template-empty .navbar {
    background: #000;
}
.page-template-empty .dropdown-menu {
	background: #000;
}
/*contact-info-list*/
.contact-info-wrapper .contact-detail {
	color: #fff;
	text-decoration: none;
}
.contact-info-wrapper .phone-number:hover, .contact-info-wrapper .email-address:hover {
	color: #5533ff;
}
.contact-info-wrapper .contact-detail.fa:before {
	margin-right: 5px;
}
.contact-info-wrapper .contact-detail {
	margin-right: 10px;
}
.contact-info-wrapper {
    text-align: center;
}
.header-type-template5 .contact-info-wrapper, .header-type-template6 .contact-info-wrapper {
    text-align: right;
}
.header-type-template5 .contact-info-wrapper .contact-detail, .header-type-template6 .contact-info-wrapper .contact-detail {
	margin-right: 0;
}
/*social*/
.social-media-list-wrapper .fa {
	padding: 5px 0;
    width: 27px;
    border-radius: 50%;
    text-decoration: none;
    margin: 0px 2px;
    text-align: center;
    background-color: #204066;
    color: #fff;
    font-size: 14px;
}
.social-media-list-wrapper .fa:hover {
	background: #000000;
}
.header-type-template3 .social-media-list-wrapper, .header-type-template4 .social-media-list-wrapper, .header-type-template6 .social-media-list-wrapper {
	margin-top: 10px;
}
.header-type-template5 .social-media-list-wrapper {
	position: absolute;
	right: 15px;
}
.header-type-template6 .social-media-list-wrapper {
	text-align: right;
}
/*header cta*/
.cta-wrapper {
	margin-bottom: 5px;
}
.cta-wrapper .call-to-action-button {
	display: inline-block;
    padding: 1px 10px;
    color: #5533ff;
}
.cta-wrapper .call-to-action-button.call-to-action-button-link {
	text-decoration: none;
	border: 1px solid #5533ff;
}
.cta-wrapper .call-to-action-button:first-child {
	margin-top: 10px;
}
.cta-wrapper .call-to-action-button {
	margin-bottom: 10px;
	display: block;
}
/*breadcrumb*/
.header #breadcrumbs a {
    text-decoration: none;
}
.header #breadcrumbs .sep {
    padding-left: 8px;
    padding-right: 8px;
}
/*banner*/
.header-banner {
	color: #fff;
}
.header-banner {
	background-color: orange;
}
.header-banner .inner-section-container {
	align-items: center;
	min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-banner {
	background-image: url("../images/header-bg-image-default.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/*sticky header*/
.header-top {
	background: #acacac;
}
.header-transparent .header-main-section {
    background: transparent;
}
.header-transparent .header-top {
    position: absolute;
    top: 0;
    background: transparent;
    width: 100%;
    z-index: 2;
}
.header-transparent .sticky .header-main-section {
    background: #000;
}
.header-transparent .header-banner .inner-section-container {
    min-height: 500px;
}
.header-top.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header-top .header-secondary-section {
	transition: 0.5s;
}
.header-top + .header-banner {
    margin-top: 0;
}
/*content*/
.widget-title {
	font-size: 18px;
}
.widget_search {
    margin-bottom: 1rem;
}
.site-main .page-title {
	font-size: 25px;
}
.archive .entry-title {
    font-size: 28px;
    line-height: 30px;
}
section.error-404.not-found {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.site-main>article>img {
	margin-top: 10px;
	margin-bottom: 10px;
}
.site-main>article:not(:last-child) {
	margin-bottom: 30px;
}
.entry-meta {
    margin-bottom: 10px;
    margin-top: 10px;
}
.comments-area {
    margin-top: 30px;
}
.comments-area #reply-title {
    font-size: 25px;
    line-height: 25px;
}
.single-post .entry-title {
	margin-top: 0.5rem;
}
/*footer*/
#wrapper-footer a {
	color: #fff;
}
#wrapper-footer {
	background: #000;
	color: #fff;
}
#wrapper-footer .menu {
	padding-left: 0;
	text-align: left;
	margin-top: 15px;
}
#wrapper-footer ul.menu>li>.sub-menu .sub-menu {
    padding-left: 10px;
    margin-top: 8px;
    list-style: none;
}
#wrapper-footer .sub-menu li {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 5px;
}
#wrapper-footer ul.menu>li>.sub-menu .sub-menu li {
	font-size: 12px;
	line-height: 13px;
}
#wrapper-footer ul.menu>li>.sub-menu {
    padding-left: 0;
    margin-top: 5px;
}
#wrapper-footer ul.menu, #wrapper-footer ul.menu li {
    list-style: none;
}
#wrapper-footer ul.menu> li {
	margin-top: 15px;
}
/*plugin*/
/*contact form*/
.wpcf7-form-control.wpcf7-not-valid	{
	margin-bottom: 0;
}
.wpcf7-not-valid-tip {
	margin-top: 3px;
    margin-bottom: 20px;
    padding-left: 5px;
}
@media (max-width: 767px) {
	.header-main-section .header-main-section-left-part {
		float: none;
	}
	.header-type-template5 .header-main-section .header-main-section-left-part {
		float: left;
	}
	.header .dropdown-item {
		color: rgba(255, 255, 255, 0.5);
	}
	.header .dropdown-item:focus,.header .dropdown-item:hover {
		color: rgba(255, 255, 255, 0.75);
		background: transparent;
	}
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
	.header-main-section .inner-section-container {
	    display: flex;
	    align-items: center;
	}
	.header-main-section .header-main-section-left-part {
		display: block;
	}
	.header-secondary-section-left-part, .header-secondary-section-right-part {
		width: auto;
	}
	.header-main-section .inner-section-container .header-main-section-right-part {
		width: 100%;
	}
	.header .navbar {
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: -0.5rem;
	    margin-right: -0.5rem;
	}
	.header-main-section .header-main-section-left-part, .header-secondary-section .header-secondary-section-left-part {
		float: left;
	}
	.header-main-section .header-main-section-right-part, .header-secondary-section .header-secondary-section-right-part {
		float: right;
	}
	.header-main-section .header-main-section-right-part .header-main-section-meta-part, .header-secondary-section .header-secondary-section-right-part {
	    text-align: right;
	}
	/*contact*/
	.header .contact-info-wrapper-mobile {
		display: none;
	}
	.contact-info-wrapper .contact-detail:last-child,.social-media-list-wrapper .contact-detail:last-child {
		margin-right: 0;
	}
	.contact-info-wrapper {
		text-align: left;
	}
	/*Nav*/
	.header .navbar-nav>.menu-item {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.header .open>.dropdown-menu{
		margin-top: initial;
		display: block;
		width: auto;
		position: absolute;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item {
		position: relative;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>ul.dropdown-menu {
		position: absolute;
		left: 100%;
	    top: 0;
	}
	.header .navbar-nav>.menu-item {
		border: none;
	}
	.header .navbar-nav .nav-link:after {
		display: inline-block;
	}
	.header .navbar-nav .menu-item>a {
		width: 100%;
		left: 0%;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item.menu-item-has-children>a:after {
	    display: inline-block;
	    margin-left: 0.255em;
	    vertical-align: 0.255em;
	    content: "";
	    border-top: 0.3em solid;
	    border-right: 0.3em solid transparent;
	    border-bottom: 0;
	    border-left: 0.3em solid transparent;
	}
	.header .menu-item-has-children>.nav-link-arrow-wrapper {
		display: none;
	}
	.header .navbar-nav>.menu-item>ul.dropdown-menu>.menu-item>a {
	    min-width: 200px;
	}
	.header .navbar-nav .dropdown-menu {
		position: absolute;
		margin-top: inherit;
		left: 0%;
	    padding-top: 0;
	    padding-bottom: 0;
	    border-radius: 0;
	}
	.header .navbar-nav>.menu-item>.dropdown-menu>.menu-item>.dropdown-menu a {
	    width: 100%;
	    left: 0;
	    white-space: normal;
	    padding-left: 1.5rem;
	}
	.header .navbar-nav {
		display: inline-block;
		text-align: right;
	}
	.header .navbar-nav>.menu-item {
	    display: inline-block;
	}
	.header .dropdown-menu {
		background: #000;
	}
	/*header cta*/
	.cta-wrapper .call-to-action-button:not(:last-child) {
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.cta-wrapper .call-to-action-button {
		display: inline-block;
	}
	.cta-wrapper .call-to-action-button:first-child {
		margin-top: 0;
	}
	/*individual template option*/
	.header-type-template1 .header-secondary-section .header-secondary-section-left-part {
		float: left;
	}
	.header-type-template2 .contact-info-wrapper {
		text-align: right;
	}
	.header-type-template1 .header-secondary-section,.header-type-template2 .header-secondary-section,.header-type-template3 .header-secondary-section {
		display: block;
	}
	.header-type-template3 .contact-info-wrapper {
		text-align: right;
	}
	.header-type-template4 .header-main-section .navbar-expand-md {
		padding-right: 0;
	}
	.header-type-template4 .contact-info-wrapper,.header-type-template4 .social-media-list-wrapper {
		display: inline-block;
	}
	.header-type-template4 .contact-info-wrapper {
		margin-right: 10px;
	}
	.header-type-template4 .social-media-list-wrapper {
		margin-top: 0;
	}
	.header-type-template5 .header-main-section .header-main-section-left-part {
		width: auto;
	}
	.header-type-template5 .header-main-section  .inner-section-container {
	    display: block;
	}
	.header-type-template5 .header-main-section .inner-section-container .header-main-section-right-part {
		width: auto;
	}
	.header-type-template5 .header-main-section-left-part #main-menu {
		margin-left: 0!important;
	}
	.header-type-template5 .header-main-section-right-part {
		margin: 1rem 0;
	}
	.header-type-template5 .header-main-section-left-part .navbar {
		padding-left: 0;
	}
	.header-type-template5 .contact-info-wrapper .contact-detail:not(:last-child) {
		margin-right: 10px;
	}
	.header-type-template5 .header-secondary-section-right-part .contact-info-wrapper {
		margin-right: 0px;
	}
	.header-type-template5 .social-media-list-wrapper {
		position: relative;
		right: 15px;
	}
	.header-type-template6 .header-main-section .inner-section-container {
	    display: block;
	}
	.header-type-template6 .header-secondary-section .inner-section-container {
		display: flex;
		align-items: center;
	}
	.header-type-template6 .header-secondary-section-right-part {
		width: 100%;
	}
	.header-type-template6 .header-secondary-section .social-media-list-wrapper {
		margin-top: 5px;
	}
	 .header-type-template6 .contact-info-wrapper .contact-detail:not(:last-child) {
	 	margin-right: 10px;
	 }
	 .header-type-template6 .header-secondary-section-right-part .contact-info-wrapper {
		margin-right: 0px;
	}
	/*sticky header*/
	.header-top.sticky.header-type-template1 .header-secondary-section, .header-top.sticky.header-type-template2 .header-secondary-section, .header-top.sticky.header-type-template3 .header-secondary-section {
		display: none;
	}
	/*footer*/
	#wrapper-footer .menu>.menu-item {
		display: inline-block;
		vertical-align: top;
		padding-right: 25px;
		text-align: left;
		margin-top: 0;
	}
	#wrapper-footer .menu>.menu-item:last-child {
	    padding-right: 0;
	}
	#wrapper-footer .menu {
		padding-left: 0;
		text-align: right;
		margin-top: 0;
	}
}
@media (min-width: 992px) {
	
}
@media (min-width: 1200px) {
	.header .navbar-nav {
		display: flex;
	}
}