#wpfooter {
	position: relative;
}
.option-page-setting-wrapper>.nav-tab-wrapper {
	width: 20%;
	float: left;
}
.option-page-setting-wrapper>.setting-form {
	width: 80%;
	float: left;
}
.option-page-setting-wrapper>.nav-tab-wrapper .nav-tab {
	display: block;
	float: none;
	margin-left: 0;
	margin-right: 50px;
	white-space: normal;
	margin-right: 10px;
}
.wrap .option-page-setting-wrapper>.nav-tab-wrapper {
border-bottom: none;
}
.option-page-setting-wrapper .form-table .options-input-field {
	width: 100%;
	max-width: 700px;
}
.option-page-setting-wrapper .form-table .option-radio .switch {
	position: relative;
	display: inline-block;
	width: 88px;
	height: 28px;
}
.option-page-setting-wrapper .form-table .option-radio .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.option-page-setting-wrapper .form-table .option-radio .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #008ec2;
	-webkit-transition: .4s;
	transition: .4s;
}
.option-page-setting-wrapper .form-table .option-radio .slider:before {
	position: absolute;
	content: "On";
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	height: 22px;
	width: 40px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.option-page-setting-wrapper .form-table .option-radio input:checked + .slider {
	background-color: #ccc;
}
.option-page-setting-wrapper .form-table .option-radio input:checked + .slider:before {
	content: "Off";
}
.option-page-setting-wrapper .form-table .option-radio input:focus + .slider {
	box-shadow: 0 0 1px #ccc;
}
.option-page-setting-wrapper .form-table .option-radio input:checked + .slider:before {
	-webkit-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}
.option-page-setting-wrapper .form-table select {
	min-width: 200px;
}
.option-page-setting-wrapper .form-table .upload-image {
	max-width: 100px;
}
.option-page-setting-wrapper .form-table .option-heading th {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.option-page-setting-wrapper .form-table .option-heading th:before {
    content: "";
    display: block;
    border-top: 1px solid black;
    margin-bottom: 15px;
    margin-top: 10px;
}
.option-page-setting-wrapper .option-image .images-block {
	width: 100%;
	margin-bottom: 15px;
	vertical-align: top;
}
.option-page-setting-wrapper .option-image .images-wrapper img {
    max-width: 100%;
    height: auto;
}
.header-options .header-display-fields {
	display: none;
}
.header-options,.header-options.show,.opt-call-to-action-2-text-row.show {
	display: block;
}
.header-options.hide,.opt-call-to-action-2-text-row.hide {
	display: none;
}
.custom_meta_box {
	width: 100%;
	text-align: left;
}
.custom_meta_box th {
	width: 18%;
}
.custom_meta_box td select {
	margin-bottom: 0;
}
.form-table.custom_meta_box td, .form-table.custom_meta_box th {
    padding-top: 8px;
    padding-bottom: 8px;
	vertical-align: middle;
}
.form-table.custom_meta_box tr {
	padding-top: 10px;
}
.form-table.custom_meta_box input {
	width: 100%;
}
.form-table.custom_meta_box input[type='checkbox'],.form-table.custom_meta_box input[type='button'] {
    width: auto;
}
.custom_meta_box .upload-image-review {
    margin-top: 20px;
}
.custom_meta_box #custom_meta_banner_image_upload_image_preview img {
    width: auto;
    max-height: 250px;
}
@media (min-width: 580px) {
	.option-page-setting-wrapper>.nav-tab-wrapper .nav-tab {
		margin-right: 20px;
	}
}
@media (min-width: 768px) {
	.option-page-setting-wrapper>.nav-tab-wrapper .nav-tab {
		margin-right: 50px;
	}
}
@media (min-width: 768px) {
	.option-page-setting-wrapper>.nav-tab-wrapper .nav-tab {
		margin-right: 50px;
	}
}
@media (min-width: 1600px) {
	.option-page-setting-wrapper .option-image .images-block {
		width: calc(50% - 20px);
    	display: inline-block;
    	margin-right: 10px;
	}
}

#lightbox {
	display: none;
}
#lightbox.show {
	display: flex;
	align-items: center;
	justify-content: center;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    text-align:center;
}
#lightbox img {
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lightbox #content {
	background-color: #000;
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}
#lightbox .name {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}